src/main/resources/org/oasis-open/ubl/schemas/maindoc/UBL-GuaZhang-2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:oasis:names:specification:ubl:schema:xsd:GuaZhang-2"
            xmlns="urn:oasis:names:specification:ubl:schema:xsd:GuaZhang-2"
            xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
            xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2"
            xmlns:udt="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2"
            xmlns:ccts="urn:un:unece:uncefact:documentation:2"
            xmlns:ext="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
            xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="2.0">
    <!-- ===== Imports ===== -->
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="../common/UBL-CommonAggregateComponents-2.0.xsd"/>
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="../common/UBL-CommonBasicComponents-2.0.xsd"/>
    <xsd:import namespace="urn:un:unece:uncefact:data:specification:UnqualifiedDataTypesSchemaModule:2" schemaLocation="../common/UnqualifiedDataTypeSchemaModule-2.0.xsd"/>
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2" schemaLocation="../common/UBL-CommonExtensionComponents-2.0.xsd"/>
    <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDatatypes-2" schemaLocation="../common/UBL-QualifiedDatatypes-2.0.xsd"/>
    <!-- ===== Root Element ===== -->
    <xsd:element name="GuaZhang" type="GuaZhangType">
        <xsd:annotation>
            <xsd:documentation>This element MUST be conveyed as the root element in any instance document based on this Schema expression</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="GuaZhangType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:Component>
                    <ccts:ComponentType>ABIE</ccts:ComponentType>
                    <ccts:DictionaryEntryName>Self Billed Invoice. Details</ccts:DictionaryEntryName>
                    <ccts:Definition>The Invoice document created by the Customer (rather than the Supplier) in a Self Billing relationship.</ccts:Definition>
                    <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                </ccts:Component>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ext:UBLExtensions" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A container for all extensions present in the document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:UBLVersionID" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. UBL Version Identifier. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>The earliest version of the UBL 2 schema for this document type that defines all of the elements that might be encountered in the current instance.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>UBL Version Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier. Type</ccts:DataType>
                            <ccts:Examples>2.0.5</ccts:Examples>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:CustomizationID" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Customization Identifier. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>Identifies a user-defined customization of UBL for a specific use.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Customization Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier. Type</ccts:DataType>
                            <ccts:Examples>NES</ccts:Examples>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:ProfileID" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Profile Identifier. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>Identifies a user-defined profile of the customization of UBL being used.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Profile Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier. Type</ccts:DataType>
                            <ccts:Examples>BasicProcurementProcess</ccts:Examples>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>An identifier for the Self Billed Invoice.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:IssueDate" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Issue Date. Date</ccts:DictionaryEntryName>
                            <ccts:Definition>The date on which the Self Billed Invoice was issued.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Issue Date</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Date</ccts:RepresentationTerm>
                            <ccts:DataType>Date. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cac:AccountingCustomerParty" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Accounting_ Customer Party. Customer Party</ccts:DictionaryEntryName>
                            <ccts:Definition>An association to Accounting Customer Party.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Accounting</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Customer Party</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Customer Party</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cac:AccountingSupplierParty" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Accounting_ Supplier Party. Supplier Party</ccts:DictionaryEntryName>
                            <ccts:Definition>An association to Accounting Supplier Party.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Accounting</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Supplier Party</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Supplier Party</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cac:LegalMonetaryTotal" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Legal_ Monetary Total. Monetary Total</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the Invoice with a set of totals required for the Invoice to be a legal document.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Legal</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Monetary Total</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Monetary Total</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cac:InvoiceLine" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Self Billed Invoice. Invoice Line</ccts:DictionaryEntryName>
                            <ccts:Definition>An Invoice has one or more invoice lines.</ccts:Definition>
                            <ccts:Cardinality>1..n</ccts:Cardinality>
                            <ccts:ObjectClass>Self Billed Invoice</ccts:ObjectClass>
                            <ccts:PropertyTerm>Invoice Line</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Invoice Line</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InvoiceLineType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:Component>
                    <ccts:ComponentType>ABIE</ccts:ComponentType>
                    <ccts:DictionaryEntryName>Invoice Line. Details</ccts:DictionaryEntryName>
                    <ccts:Definition>Information about an Invoice Line.</ccts:Definition>
                    <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                </ccts:Component>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="cbc:ID" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Identifier</ccts:DictionaryEntryName>
                            <ccts:Definition>Identifies the Invoice Line.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTerm>Identifier</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
                            <ccts:DataType>Identifier. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:Note" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Note. Text</ccts:DictionaryEntryName>
                            <ccts:Definition>Free-form text applying to the Invoice Line. This element may contain notes or any other similar information that is not contained explicitly in another structure.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTerm>Note</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
                            <ccts:DataType>Text. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:InvoicedQuantity" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Invoiced_ Quantity. Quantity</ccts:DictionaryEntryName>
                            <ccts:Definition>The quantity (of Items) on the Invoice Line.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Invoiced</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Quantity</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                            <ccts:DataType>Quantity. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:LineExtensionAmount" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Line Extension Amount. Amount</ccts:DictionaryEntryName>
                            <ccts:Definition>The total amount for the Invoice Line, including Allowance Charges but net of taxes.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTerm>Line Extension Amount</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
                            <ccts:DataType>Amount. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:FreeOfChargeIndicator" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Free Of Charge_ Indicator. Indicator</ccts:DictionaryEntryName>
                            <ccts:Definition>Indicates whether the Invoice Line is Free Of Charge (default = false).</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Free Of Charge</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Indicator</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
                            <ccts:DataType>Indicator. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Item" type="ItemType" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Item</ccts:DictionaryEntryName>
                            <ccts:Definition>An association to Item.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTerm>Item</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Item</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Price" type="PriceType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Invoice Line. Price</ccts:DictionaryEntryName>
                            <ccts:Definition>An association to Price.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Invoice Line</ccts:ObjectClass>
                            <ccts:PropertyTerm>Price</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Price</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ItemType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:Component>
                    <ccts:ComponentType>ABIE</ccts:ComponentType>
                    <ccts:DictionaryEntryName>Item. Details</ccts:DictionaryEntryName>
                    <ccts:Definition>Information directly relating to an item.</ccts:Definition>
                    <ccts:ObjectClass>Item</ccts:ObjectClass>
                    <ccts:AlternativeBusinessTerms>article, product, goods item</ccts:AlternativeBusinessTerms>
                </ccts:Component>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="cbc:Name" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Item. Name</ccts:DictionaryEntryName>
                            <ccts:Definition>A short name optionally given to an item, such as a name from a Catalogue, as distinct from a description.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Item</ccts:ObjectClass>
                            <ccts:PropertyTerm>Name</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
                            <ccts:DataType>Name. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cac:BuyersItemIdentification" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Item. Buyers_ Item Identification. Item Identification</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the item with its identification according to the buyer's system.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Item</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Buyers</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cac:SellersItemIdentification" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>ASBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Item. Sellers_ Item Identification. Item Identification</ccts:DictionaryEntryName>
                            <ccts:Definition>Associates the item with its identification according to the seller's system.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Item</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Sellers</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Item Identification</ccts:PropertyTerm>
                            <ccts:AssociatedObjectClass>Item Identification</ccts:AssociatedObjectClass>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PriceType">
        <xsd:annotation>
            <xsd:documentation>
                <ccts:Component>
                    <ccts:ComponentType>ABIE</ccts:ComponentType>
                    <ccts:DictionaryEntryName>Price. Details</ccts:DictionaryEntryName>
                    <ccts:Definition>Information about the price.</ccts:Definition>
                    <ccts:ObjectClass>Price</ccts:ObjectClass>
                </ccts:Component>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="cbc:PriceAmount" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Price. Price Amount. Amount</ccts:DictionaryEntryName>
                            <ccts:Definition>The price amount.</ccts:Definition>
                            <ccts:Cardinality>1</ccts:Cardinality>
                            <ccts:ObjectClass>Price</ccts:ObjectClass>
                            <ccts:PropertyTerm>Price Amount</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
                            <ccts:DataType>Amount. Type</ccts:DataType>
                            <ccts:AlternativeBusinessTerms>unit price</ccts:AlternativeBusinessTerms>
                            <ccts:Examples>23.45</ccts:Examples>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:BaseQuantity" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Price. Base_ Quantity. Quantity</ccts:DictionaryEntryName>
                            <ccts:Definition>The actual quantity to which the price applies.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Price</ccts:ObjectClass>
                            <ccts:PropertyTermQualifier>Base</ccts:PropertyTermQualifier>
                            <ccts:PropertyTerm>Quantity</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
                            <ccts:DataType>Quantity. Type</ccts:DataType>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="cbc:OrderableUnitFactorRate" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        <ccts:Component>
                            <ccts:ComponentType>BBIE</ccts:ComponentType>
                            <ccts:DictionaryEntryName>Price. Orderable Unit Factor. Rate</ccts:DictionaryEntryName>
                            <ccts:Definition>The factor by which the base price unit can be converted to the orderable unit.</ccts:Definition>
                            <ccts:Cardinality>0..1</ccts:Cardinality>
                            <ccts:ObjectClass>Price</ccts:ObjectClass>
                            <ccts:PropertyTerm>Orderable Unit Factor</ccts:PropertyTerm>
                            <ccts:RepresentationTerm>Rate</ccts:RepresentationTerm>
                            <ccts:DataType>Rate. Type</ccts:DataType>
                            <ccts:Examples>Nails are priced by weight but ordered by quantity.  So this would say how many nails per kilo</ccts:Examples>
                        </ccts:Component>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ===== Element Declarations ===== -->
    <!-- ===== Type Definitions ===== -->
    <!-- ===== Basic Business Information Entity Type Definitions ===== -->
</xsd:schema>
        <!-- ===== Copyright Notice ===== -->
        <!--
          OASIS takes no position regarding the validity or scope of any
          intellectual property or other rights that might be claimed to pertain
          to the implementation or use of the technology described in this
          document or the extent to which any license under such rights
          might or might not be available; neither does it represent that it has
          made any effort to identify any such rights. Information on OASIS's
          procedures with respect to rights in OASIS specifications can be
          found at the OASIS website. Copies of claims of rights made
          available for publication and any assurances of licenses to be made
          available, or the result of an attempt made to obtain a general
          license or permission for the use of such proprietary rights by
          implementors or users of this specification, can be obtained from
          the OASIS Executive Director.

          OASIS invites any interested party to bring to its attention any
          copyrights, patents or patent applications, or other proprietary
          rights which may cover technology that may be required to
          implement this specification. Please address the information to the
          OASIS Executive Director.

          Copyright (C) OASIS Open 2001-2006. All Rights Reserved.

          This document and translations of it may be copied and furnished to
          others, and derivative works that comment on or otherwise explain
          it or assist in its implementation may be prepared, copied,
          published and distributed, in whole or in part, without restriction of
          any kind, provided that the above copyright notice and this
          paragraph are included on all such copies and derivative works.
          However, this document itself may not be modified in any way,
          such as by removing the copyright notice or references to OASIS,
          except as needed for the purpose of developing OASIS
          specifications, in which case the procedures for copyrights defined
          in the OASIS Intellectual Property Rights document must be
          followed, or as required to translate it into languages other than
          English.

          The limited permissions granted above are perpetual and will not be
          revoked by OASIS or its successors or assigns.

          This document and the information contained herein is provided on
          an "AS IS" basis and OASIS DISCLAIMS ALL WARRANTIES,
          EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY
          WARRANTY THAT THE USE OF THE INFORMATION HEREIN
          WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED
          WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A
          PARTICULAR PURPOSE.
        -->
